<div class="layout">
  <aside class="sidebar">
    <div class="sidebar-top">
      <div class="logo">
        <h2>Area Dipendente</h2>
        <p>{{ utenteCorrenteService.utenteCorrente()?.nome }}</p>
      </div>

      <nav class="menu">
        <a
          routerLink="/dipendente"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Dashboard
        </a>

        <a routerLink="/dipendente/timbra-presenza" routerLinkActive="active"> Timbra presenza </a>

        <a routerLink="/dipendente/storico-presenze" routerLinkActive="active">
          Storico presenze
        </a>

        <button class="logout-btn" (click)="logout()">Logout</button>
      </nav>
    </div>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
